<h1>Edit Template</h1>



<form action='update' id='design_template_form'>

  <div class='container'>

    <div style='flex:1;'>

      <p>
        Name: <input type='text' name='design_template[name]' value='<%= @design_template.name %>'></input>
      </p>

    </div>

    <div id='panel_container' style='flex:1; background:pink; '></div>

  </div>

  <input name='panel_data' id='tags_data' style='display:none;'></input>

  <button onclick='update_template( <%= @design_template.id %> ); return false;'>Update</button>

</form>


<%= button_to "delete", {:controller => :design_templates,
      :action => 'destroy', :id => @design_template.id }, :method => :delete %>



<script>

  function update_template( templateId )
  {

    var settings = build();

    var uri = "http://localhost:3000/design_templates/" + templateId + "/tag_settings/";

    $.ajax({
                url: uri,
                type: 'post',
                dataType: 'application/json',
                success: function (data) {
                  alert( 'yay!')
                },
                data: JSON.stringify( settings )
            });
  }


  function getTemplateHTML( templateId )
  {

    var o;
    var uri;


    if( templateId == null )
    {
      o = $('#version_design_template_id');
      templateId = o.val();
    }


    uri = "http://localhost:3000/partials/tags/" + templateId


    $.get( uri, function(data, status)
      {
          $('#panel_container').html( data );
      } );
  }


  getTemplateHTML( <%= @design_template.id %> );


</script>
