
<div class='row'>
  <div class='col col-md-1'></div>
  <div class='col col-md-4'>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">New Template</h3>
      </div>
      <div class="panel-body">
<%=
        form_for @design_template, html: { multipart: true, onsubmit: 'return validate();'  } do |form|
%>
          <div class='input-group' style='margin-bottom:20px;'>
            <span class="input-group-addon" id="basic-addon1">Name</span>
            <input type='text' class='form-control' id='design_template_name' name='design_template[name]' aria-describedby="basic-addon1" value='<%= @design_template.name %>'></input>
          </div>

          <div id='selected_file_name' style='display: none;'></div>

          <span class="btn btn-default fileinput-button" id='file_input_container'>
            <span>Select file</span>
            <input type="file" onchange='fileInputChange( event );' name="design_template[original_file]" id="design_template_original_file">
          </span>


          <input name='stayAfterSave' id='stayAfterSave' style='display:none;'></input>

          <button class='btn btn-default' id='set_prefs' onclick='setPrefs();' style='display: none;'>Save and Set Preferences</button>
          <a class='btn btn-default' href='<%= local_host %>/design_templates'>Cancel</a>

<%      end  %>

      </div> <!-- /panel body -->
    </div> <!-- / panel -->
  </div> <!-- /col -->

  <div class='col-md-1'></div>
  <div class='col-md-5'>
    <div id='panel_container'></div>
  </div>

</div> <!-- /row -->


<script>

  function save()
  {
    // I took this option out, used to be u could save without setting prefs
    $('#stayAfterSave').val( 'false');
  }

  function setPrefs()
  {
    $('#stayAfterSave').val( 'true');
  }


  function validate()
  {
    var bValid = true;
    var dtName = $('#design_template_name').val();
    if( dtName == '' )
    {
      alert( 'Please enter a name for this template.' );
      bValid = false;
    }
    return bValid;
  }


  function fileInputChange( event )
  {
    var filePath = event.target.value;
    filePath = filePath.replace(/.*[\/\\]/, '');

    if( filePath != '' )
    {
      var $FileName = $('#selected_file_name');
      $FileName.text( filePath );
      $FileName.show();

      $('#file_input_container').hide();
      $('#set_prefs').show();
    }
  }

</script>
