<h1>New Template</h1>

<%=
form_for @design_template, html: { multipart: true, :onsubmit => 'return validate();'  } do |form|
%>

<div class='container' style='width:100%;'>

  <div style='flex:1;'>

    <div class="form-group">
      <label for="design_template[name]">Name</label>
      <input type='text' id='design_template_name' name='design_template[name]'></input>
    </div>


    <div id='selected_file_name' style='display: none;'></div>

    <span class="btn btn-default fileinput-button" id='file_input_container'>
          <span>Select file</span>
          <input type="file" onchange='fileInputChange( event );' name="design_template[original_file]" id="design_template_original_file">
    </span>


    <input name='stayAfterSave' id='stayAfterSave' style='display:none;'></input>

    <div style='width: 100%;'>
      <button class='btn btn-default' id='set_prefs' onclick='setPrefs();' style='display: none;'>Save and Set Preferences</button>
      <a class='btn btn-default' href='<%= get_local_host %>/design_templates'>Cancel</a>
    </div>


  </div>


  <div id='panel_container' style='flex:1;' ></div>

</div>

<%
end
%>


<script>

  function save()
  {
    // I took this option out, used to be u could save without setting prefs
    $('#stayAfterSave').val( 'false');
  }

  function setPrefs()
  {
    $('#stayAfterSave').val( 'true');
  }

  function validate()
  {
    var bValid = true;

    var dtName = $('#design_template_name').val();

    if( dtName == '' )
    {
      alert( 'Please enter a name for this template.' );
      bValid = false;
    }

    return bValid;
  }


  function fileInputChange( event )
  {
    var filePath = event.target.value;
    filePath = filePath.replace(/.*[\/\\]/, '');

    if( filePath != '' )
    {
      var $FileName = $('#selected_file_name');
      $FileName.text( filePath );
      $FileName.show();

      $('#file_input_container').hide();
      $('#set_prefs').show();
    }
  }

</script>
