
<form action='update' id='palette_form'>

  <div class="input-group" id="">
    <input type="text" id="" name='palette[name]' value="<%= @palette.name %>" class="form-control" />
  </div>

  <input class='btn btn-default' type='submit' value='Ok'></input>

</form>



<script>

  $(document).ready(function(){

  });

</script>
