<h1>New Palette</h1>

<%=
form_for @palette do |form|
%>

  <div class="input-group">
    Name <input type="text" id="" name='palette[name]' class="form-control" />
  </div>

<%=
  form.submit %>

<%
end
%>

<script>

  $(document).ready(function(){

  });

</script>
