
<h3><%= @design_template.name %> Settings</h3>


<%
  rendering_tags_form = false
  rendering_images_form = false

  if( @tags != nil ) then
    if( @tags.length > 0 ) then
      rendering_tags_form = true
%>
<%=   render :partial => "design_template_tags" %>
<%
    end
  end
%>

<%
  if( @images != nil ) then
    if( @images.length > 0 ) then
      rendering_images_form = true
%>
<%=   render :partial => "design_template_images" %>
<%
    end
  end
%>


<script>



  function validate()
  {
    //alert( 'design_template_settings.html.erb - validate()' );

    var bReturn = true;
    <%
    if( rendering_tags_form ) then
    %>
        if( !validate_tag_values() )
        {
          bReturn = false;
        }
    <%
    end %>

    <%
    if( rendering_images_form ) then
    %>
      if( !validate_image_values() )
      {
        bReturn = false;
      }
    <%
    end %>

    return bReturn;
  }




  function build_template_settings()
  {


    var oTags = {};
    var oImages = {};
<%
    if( rendering_tags_form ) then
%>
      oTags = build_tags_data();
<%
    end %>

<%
    if( rendering_images_form ) then
%>
      oImages = build_images();
<%
    end %>

    oReturn = {};
    oReturn[ 'tag_settings' ] = oTags;
    oReturn[ 'image_settings' ] = oImages;

    return oReturn;
  }

</script>
