
<h3>Extracted <%= @design_template.name %> Settings</h3>


<%
  rendering_tags_form = false
  rendering_images_form = false

  if( @tags != nil ) then
    if( @tags.length > 0 ) then
      rendering_tags_form = true
%>
<%=   render :partial => "extracted_tags" %>
<%
    end
  end
%>

<%
  if( @images != nil ) then
    if( @images.length > 0 ) then
      rendering_images_form = true
%>
<%=   render :partial => "extracted_images" %>
<%
    end
  end
%>


<script>

  function build_template_settings()
  {


    var oTags = {};
    var oImages = {};
<%
    if( rendering_tags_form ) then
%>
      oTags = build_tags_data();
<%
    end %>

<%
    if( rendering_images_form ) then
%>
      oImages = build_images();
<%
    end %>

    oReturn = {};
    oReturn[ 'tag_settings' ] = oTags;
    oReturn[ 'image_settings' ] = oImages;

    return oReturn;
  }

</script>
