
<h3>Version Settings</h3><br>
using the <%= @design_template.name %> Template<br>

<%
  rendering_tags_form = false
  rendering_images_form = false

  @tag_settings = @prompts[ 'tag_settings' ]
  @image_settings = @prompts[ 'image_settings' ]

  if( @tag_settings != nil ) then
    if( @tag_settings.length > 0 ) then
      rendering_tags_form = true
%>
<%=   render :partial => "version_tags" %>
<%
    end
  end

  if( @image_settings != nil ) then
    if( @image_settings.length > 0 ) then
      rendering_images_form = true
%>
<%=   render :partial => "version_images" %>
<%
    end
  end
%>



<script>

  function build()
  {
    oTags = {};
    oImages = {};

<%
    if( rendering_tags_form ) then
%>
      oTags = build_tag_values();
<%
    end %>

<%
    if( rendering_images_form ) then
%>
      oImages = build_image_values();
<%
    end %>

    oReturn = {};
    oReturn[ 'tag_settings' ] = oTags;
    oReturn[ 'image_settings' ] = oImages;

    return oReturn;
  }

</script>
