
<div class='row'>

  <div class='col col-md-1'></div>
  <div class='col col-md-10'>

    <a class='btn btn-default' onclick='delete_all_versions();'>Delete ALL Versions</a>
    <br></br>

    <a class='btn btn-default' onclick='delete_all_templates();'>Delete ALL Templates</a>
    <br></br>

    <a class='btn btn-default' onclick='delete_all_colors();'>Delete ALL Colors</a>
    <br></br>

    <a class='btn btn-default' onclick='delete_all_palettes();'>Delete ALL Palettes</a>
    <br></br>

    <a class='btn btn-default' onclick='clear_token();'>Clear Instagram Token</a>
    <br></br>

    <a class='btn btn-default' onclick='make_zombie_template();'>Make Zombie Template</a>
    <br></br>


  </div>
  <div class='col col-md-1'></div>
</div>


<script>


  function trans_butt()
  {
    window.location = 'http://localhost:3000/trans_butt';
  }

  function make_zombie_template()
  {
    $.ajax({
      url: '/design_templates/make_zombie',
    }).done(function() {
    });
  }


  function clear_token()
  {
    $.ajax({
      url: '/clear_token/',
    }).done(function() {
    });
  }

  function git_fetch()
  {
    $.ajax({
      url: '/git_fetch/',
    }).done(function() {
    });

  }

  function delete_all_versions()
  {
    $.ajax({
      url: '/versions/delete_all/',
    }).done(function() {
    });
  }


  function delete_all_templates()
  {
    $.ajax({
      url: '/design_templates/delete_all/',
    }).done(function() {
    });
  }


  function delete_all_palettes()
  {
    $.ajax({
      url: '/palettes/delete_all/',
    }).done(function() {
    });
  }


  function delete_all_colors()
  {
    $.ajax({
      url: '/colors/delete_all/',
    }).done(function() {
    });
  }



</script>
