
<div class='row'>

  <div class='col col-md-1'></div>
  <div class='col col-md-10'>

    <a class='btn btn-default' onclick='delete_all_versions();'>Delete ALL Versions</a>
    <br></br>

    <a class='btn btn-default' onclick='delete_all_templates();'>Delete ALL Templates</a>
    <br></br>

    <a class='btn btn-default' onclick='delete_all_colors();'>Delete ALL Colors</a>
    <br></br>

    <a class='btn btn-default' onclick='delete_all_palettes();'>Delete ALL Palettes</a>
    <br></br>

    <a class='btn btn-default' onclick='fetch();'>Fetch Shit</a>

  </div>
  <div class='col col-md-1'></div>
</div>


<script>

  function fetch()
  {
    $.ajax({
      url: '/fetch/',
    }).done(function() {
    });
  }


  function delete_all_versions()
  {
    $.ajax({
      url: '/versions/delete_all/',
    }).done(function() {
    });
  }


  function delete_all_templates()
  {
    $.ajax({
      url: '/design_templates/delete_all/',
    }).done(function() {
    });
  }


  function delete_all_palettes()
  {
    $.ajax({
      url: '/palettes/delete_all/',
    }).done(function() {
    });
  }


  function delete_all_colors()
  {
    $.ajax({
      url: '/colors/delete_all/',
    }).done(function() {
    });
  }



</script>
