<h1>Versions#index</h1>




<%
@versions.each { |v|
%>
  <h3>Folder path: </h3><%= v.output_folder_path %>
  <h3>Template ID: </h3><%= v.design_template_id %>
  <h3>Values: </h3><%= v.values %>

<%
}
%>
