<h1>All Versions</h1>


<%= link_to "New Version", new_version_path %><br>


<ul>
<%
  @versions.each { |v|
    if( v.name == '' ) then
      name = '<none>'
    else
      name = v.name
    end
%>
    <li><%= link_to name, v %></li>
<%
  }
%>
</ul>
