<h1>All Versions</h1>


<%= link_to "New Version", new_version_path %><br>


<%
@versions.each { |v|
  if( v.name == '' ) then
    name = '<none>'
  else
    name = v.name
  end

%>
  <h3><%= link_to name, v %></h3>
  <h3>Template:
    <%=
      if v.design_template then
        link_to v.design_template.name, v.design_template
      end
    %></h3>
  <hr/>
<%
}
%>
