
<%
@colors.each { |c| %>
  <a href='<%= get_local_host %>/colors/<%= c.id %>/edit'>
  <div class='color-item' style='background:<%= c.hex_code %>'>
    <div class='outline-text' style='margin:auto; width:60%;'>
      <%= c.hex_code %>
    </div>
  </div>
  </a>

<%
} %>
