
<%
@colors.each { |c| %>
  <a href='<%= get_local_host %>/colors/<%= c.id %>/edit'>
    <div class='color-item' title='<%= c.hex_code %>' style='background:<%= c.hex_code %>'>
    </div>
  </a>
<%
} %>
