
<div class='row'>

  <div class='col col-md-1'></div>
  <div class='col col-md-10'>
<%
    @colors.each { |c| %>
      <a href='<%= local_host %>/colors/<%= c.id %>/'>
        <%= swatch( c, {} ).html_safe %>
      </a>
<%
    } %>
  </div>

  <div class='col col-md-1'></div>
</div>
