<h1>New Color</h1>

<%=
form_for @color do |form|
%>

  <div class="input-group" id="new_color_picker_container">
    <input type="text" id="color_val" name='color[hex_code]' value="#000000" class="form-control" />
    <span class="input-group-addon"><i></i></span>
  </div>

<%=
  form.submit %>

<%
end
%>

<script>

  $(document).ready(function(){
    $("#new_color_picker_container").colorpicker();
  });

</script>
