@import "bootstrap"


.color-item
  display: inline-block
  height: 40px
  width: 50px
  float: left
  border-style: solid
  border-width: 1px
  margin: 10px

.outline-text
  color: white
  -webkit-text-stroke-width: 1.5px
  -webkit-text-stroke-color: black
  font-size: 15px
  font-weight: 900

.color-item a
  margin: auto


li a
  cursor: pointer

ul
  list-style-type: none

.disabled
  color: darkgrey

.checkbox-label
  display: block
  padding-left: 15px
  text-indent: -15px
  margin-left: 20px

.checkbox-input
  width: 13px
  height: 13px
  padding: 0
  margin: 0
  vertical-align: bottom
  position: relative
  top: -1px
  *overflow: hidden

.spacer
  height: 20px



/* Reset our unordered list */
ul.swatch-selector
  list-style-type: none
  margin: 0
  padding: 0

ul.swatch-selector li
  display: block
  float: left
  margin-right: 10px
  width: 25px
  height: 25px
  border: 1px solid transparent
  cursor: pointer


ul.swatch-selector li.active
  border: 1px solid #000



.container
  display: flex


.fileinput-button
  position: relative
  overflow: hidden


.fileinput-button input
  position: absolute
  top: 0
  right: 0
  margin: 0
  opacity: 0
  font-size: 200px
  direction: ltr
  cursor: pointer




/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

.clickable
  cursor: pointer

.clickable:hover
  text-decoration: underline
